/* src/components/MovieDetail.css */
.movie-detail-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  
  .movie-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .movie-description {
    text-align: justify;
    color: #555;
    margin-bottom: 20px;
  }
  
  .rating-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .form-group .form-control:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .btn-submit {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  /* src/components/AddMovie.css */
.btn-view-list {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    margin-top: 4px;
    align-content: center;
  }
  
  .btn-view-list:hover {
    background-color: #0056b3;
  }
  
  .btn-submit {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  

  .ratings-section {
    margin-top: 30px;
  }
  
  .rating-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .movie-average-rating {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }